.login-wrapper{
    margin: 0 auto;
    width: auto;
    padding: 10px;

}
.login-wrapper div {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.submit{
    width: 100%;
}

.sec-href{
    justify-content: center !important;

}
.sec-href a{
    letter-spacing: 1px;
    text-decoration: none;
    color: black;
}
.sec-href a:hover{
    color: #3e6388;
}

.submit, .sec-href{
    text-transform: uppercase;
}

.submit:hover{
    color: white;
}

.registration-form{
    margin-bottom: 0;
}
.label{
    padding: 5px;
}
.login-form input, .registration-form input{
    background-color: transparent;
    padding: 5px;
    border: none;
    border-bottom: 1px solid #343a40;
}
