body {
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;

}

.content-container {
    /*flex-grow: 1;*/
}


/*TABLE*/
form {
    /*display: table;*/
}

form div {
    display: flex;
    justify-content: space-between;

}

label {
    margin: 5px;
}

.objednavka td label {
    text-align: left;
    display: block;
}

.submit, select, input {
    width: 100%;
}


table {
    border-collapse: collapse;
}

th {
    padding: 5px;
}

td, th {
    border: 1px solid #343a40;
    text-align: center;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #343a40;
    color: white;
}

td input, td select, td textarea, .submit-row {
    box-sizing: border-box;
    width: 100%;
    border: none;
    background-color: transparent;
}

td input, td select, .submit-row {
    padding: 10px;
}

.objednavka td input, .objednavka td select {
    padding: 0 !important;
}

.submit-row, .submit-row a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.submit-row:hover, .submit-row a:hover {
    color: #3e6388;
}

.file-upload {
    cursor: pointer;
    margin: 0;
    padding: 10px;
}

input[type='checkbox'] {
    width: auto;
}

@media only screen and (max-width: 1200px) {
    .main-container {
        flex-direction: column;
    }
}

@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px) {

    /* Force table to not be like tables anymore */
    table, thead, tbody, th, td, tr {
        display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr {
        border: 1px solid #ccc;
    }

    td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
    }

    td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }

    /*
    PRODUKTY
    */
    .produkty td:nth-of-type(1):before {
        content: "Název";
    }

    .produkty td:nth-of-type(2):before {
        content: "Cena";
    }

    .produkty td:nth-of-type(3):before {
        content: "Množství";
    }

    .produkty td:nth-of-type(4):before {
        content: "Popis";
    }

    .produkty td:nth-of-type(5):before {
        content: "Náhled";
    }

    .produkty td:nth-of-type(6):before {
        content: "Kategorie";
    }

    .produkty td:nth-of-type(7):before {
        content: "Upravit";
    }

    .produkty td:nth-of-type(8):before {
        content: "Smazat";
    }

    /*OBJEDNAVKA*/
    .objednavka td:nth-of-type(1):before {
        content: "Datum Objednání";
    }

    .objednavka td:nth-of-type(2):before {
        content: "Doprava a platba";
    }

    .objednavka td:nth-of-type(3):before {
        content: "Zákazník";
    }

    .objednavka td:nth-of-type(4):before {
        content: "Položky";
    }

    .objednavka td:nth-of-type(5):before {
        content: "Stav";
    }

    /*EMULATOR*/
    .emulator td:nth-of-type(1):before {
        content: "Login";
    }

    .emulator td:nth-of-type(2):before {
        content: "Jméno";
    }

    .emulator td:nth-of-type(3):before {
        content: "Přijmení";
    }

    .emulator td:nth-of-type(4):before {
        content: "Email";
    }

    .emulator td:nth-of-type(5):before {
        content: "Oprávění";
    }

    .emulator td:nth-of-type(6):before {
        content: "Emulovat";
    }

    /*KATEGORIE*/
    .kategorie td:nth-of-type(1):before {
        content: "Název";
    }

    .kategorie td:nth-of-type(2):before {
        content: "Upravit";
    }

    .kategorie td:nth-of-type(3):before {
        content: "Smazat";
    }
}