.adresat-header-header{
    background-color: #dddddd;

}
.aside-container{
    border-right: 1px solid #343a40;
}
.conversation-wrapper{
    margin-bottom: 10px;
}
.content-container, .aside-container{
    padding: 5px 25px;
}
.response-container form{
    width: 100%;
}
 .search-wrapper, .conversation-wrapper{
    display: flex;
}
.adresat{
    font-size: 1.15em;
}

.conversation-wrapper{
    padding: 5px;
    margin: 10px 0;
    text-decoration: none;
    color: black;
    background-color: #eeeeee;
}
.conversation-wrapper:hover{
    color: #3e6388;
}

.response-textArea{
     margin: 15px 0;
    height: 150px;
    border: none;

 }
 .response-wrapper{
     display: grid;
 }
 .submit{
    text-transform: uppercase;
 }
 .search-btn{
     text-transform: none !important;
     border: 1px solid #343a40;
 }

 .zprava-wrapper{
     background-color: #eeeeee;
 }
 .zprava-content, .zprava-header, .zprava-footer{
     padding: 15px;
 }

 .zprava-header, .zprava-footer{
     font-size: 1em;
     letter-spacing: 2px;
     text-transform: uppercase;

 }
